# pandas Series
1. Create pandas series with different `data types` in `different ways`
2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`
3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.
4. What are the `similaraties` and `differences` between pandas series and nnumpy array.Prove it with code.
5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

1 . Create pandas series with different data types in different ways

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
n = list(range(20,30))
n

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [4]:
p = pd.Series(n)
p

0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
dtype: int64

In [5]:
t = tuple(range(50,70))
t

(50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69)

In [6]:
s = pd.Series(t)
s

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [10]:
d = {'A' : 'Python' , 'B' : 'Statistics' , 'c' : 'SQL' , 'D' : 'Tableau' , 'E' : 'M.L'}
d

{'A': 'Python', 'B': 'Statistics', 'c': 'SQL', 'D': 'Tableau', 'E': 'M.L'}

In [11]:
d1 = pd.Series(d)
d1

A        Python
B    Statistics
c           SQL
D       Tableau
E           M.L
dtype: object

2. Find the `attributes` of Series of [10,30,40,1,3,6,14,18,23] with index starts from `100`

In [19]:
w = [10,30,40,1,3,6,14,18,23]
i = len(w)
w

[10, 30, 40, 1, 3, 6, 14, 18, 23]

In [20]:
i

9

In [21]:
w1 = pd.Series(w,index = list(range(100,100+i)))
w1

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int64

In [22]:
w1.mean()

16.11111111111111

In [23]:
w1.median()

14.0

In [26]:
w1.mode()           # as there are no frequent values in data it prints whole data

0     1
1     3
2     6
3    10
4    14
5    18
6    23
7    30
8    40
dtype: int64

In [27]:
w1.max()

40

In [28]:
w1.min()

1

In [30]:
w1.quantile(0.25)

6.0

In [31]:
w1.quantile(0.75)

23.0

In [32]:
w1.var()

169.86111111111111

In [33]:
w1.std()

13.033077576348232

In [34]:
w1.info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 100 to 108
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 144.0 bytes

In [35]:
w1.head()

100    10
101    30
102    40
103     1
104     3
dtype: int64

In [36]:
w1.head(2)

100    10
101    30
dtype: int64

In [37]:
w1.tail()

104     3
105     6
106    14
107    18
108    23
dtype: int64

In [38]:
w1.tail(3)

106    14
107    18
108    23
dtype: int64

In [39]:
w1.memory_usage()

144

In [41]:
w1.dtype

dtype('int64')

In [42]:
w1.astype('int32')

100    10
101    30
102    40
103     1
104     3
105     6
106    14
107    18
108    23
dtype: int32

In [47]:
w1.where(w1 > 9,0)

100    10
101    30
102    40
103     0
104     0
105     0
106    14
107    18
108    23
dtype: int64

3. create salaries of `30 employee salaries randomly from 30000-90000` then `measure and describe` the data using pandas series.

In [48]:
salary = np.random.randint(30000,90000,30)
salary

array([41949, 69679, 61996, 70709, 47601, 67553, 30842, 71066, 68129,
       48713, 68024, 38894, 67764, 52622, 71172, 50735, 71263, 70709,
       30580, 45242, 64433, 58782, 57629, 30960, 33290, 71241, 46465,
       79339, 32070, 61521])

In [49]:
sal = pd.Series(salary)
sal

0     41949
1     69679
2     61996
3     70709
4     47601
5     67553
6     30842
7     71066
8     68129
9     48713
10    68024
11    38894
12    67764
13    52622
14    71172
15    50735
16    71263
17    70709
18    30580
19    45242
20    64433
21    58782
22    57629
23    30960
24    33290
25    71241
26    46465
27    79339
28    32070
29    61521
dtype: int32

In [50]:
sal.describe()

count       30.000000
mean     56032.400000
std      15145.707396
min      30580.000000
25%      45547.750000
50%      60151.500000
75%      69291.500000
max      79339.000000
dtype: float64

In [53]:
sal.max() - sal.min()        # range

48759

In [57]:
sal.quantile(0.75) - sal.quantile(0.25)       #IQR

23743.75

In [58]:
sal.var()

229392452.524138

4. What are the `similaraties` and `differences` between pandas series and numpy array.Prove it with code.

* Numpy deals with only homogeneous datatypes(numeric) whereas
* Pandas series deals with hetrogeneous datatypes(numeric as well as textual data)
* numpy is an n-dimensional array whereas 
* pandas is 1-d,2-d and 3-d 
* numpy does not follows indexing whereas 
* pandas follows indexing

In [64]:
a = np.array(range(100,120))
a

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119])

In [65]:
s = pd.Series(a)
s

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
dtype: int32

5. create pandas series with ranges from 100 to 150 then apply indexing and slicing on it.

In [66]:
p = pd.Series(range(100,150))
p

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
30    130
31    131
32    132
33    133
34    134
35    135
36    136
37    137
38    138
39    139
40    140
41    141
42    142
43    143
44    144
45    145
46    146
47    147
48    148
49    149
dtype: int64

In [67]:
p[27]

127

#### Indexing

In [68]:
p[30:31]

30    130
dtype: int64

#### Slicing

In [69]:
p[1:20]

1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
dtype: int64