

**Assignment Task 1:** Tuple Basics
Create a Python tuple containing the names of your favorite fruits. Write a Python program to print `each fruit` name from the tuple.

**Assignment Task 2:** Tuple Operations
Given two tuples, write a Python program to `concatenate` them into a `single` tuple and then find the `length` of the resulting tuple.

**Assignment Task 3:** Set Creation
Create a Python set containing the first 10 `even` numbers (2, 4, 6, ...). Write a program to `display` this set.

**Assignment Task 4:** Set Operations
Given two sets, write a Python program to find the `union, intersection, and difference` of these sets.

**Assignment Task 5:** Tuple and Set Conversion
Write a Python program that takes a `tuple` of integers and converts it into a `set`. Then, find and print the `maximum and minimum` values from the set.

**Assignment Task 6:** Tuple Immutability
Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

**Assignment Task 7:** Set Operations and Methods
Write a Python program that takes a set of numbers and performs the following operations:
   - Add a new number to the set.
   - Remove a number from the set.
   - Check if a specific number is in the set.
   - Find the size of the set.

**Assignment Task 8:** Tuple Slicing
Given a tuple of 10 elements, write a Python program to print the elements from the `3rd to the 7th `position using slicing.

**Assignment Task 9:** Set Operations with Lists
Create a Python list with duplicate elements and convert it into a set to remove duplicates. Then, write a program to count how many duplicates were removed.

**Assignment Task 10:** Tuple and Set Combinations
Create a `tuple` containing the names of your friend's favorite movies and a `set` containing the names of your favorite movies. Write a Python program to find and display common elements (movies that feature your

# Task 1

In [1]:
fruits = ("Banana","Mango","Orange","Apple","Watermelon")

In [4]:
fruits[0]

'Banana'

In [5]:
fruits[1]

'Mango'

In [6]:
fruits[2]

'Orange'

In [8]:
fruits[3]

'Apple'

In [9]:
fruits[4]

'Watermelon'

# Task 2

In [10]:
tup1 = ("Potato","Tomato","Brinjal","Paneer")

In [11]:
tup2 = ("Banana","kiwi","guava")

In [12]:
t = tup1+tup2

In [13]:
t

('Potato', 'Tomato', 'Brinjal', 'Paneer', 'Banana', 'kiwi', 'guava')

In [14]:
len(t)

7

# Task 3

In [15]:
set1 = {2,4,6,8,10,12,14,16,18,20}

In [16]:
print(set1)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

# Task 4

In [18]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {2,4,6,8}

In [19]:
s1.union(s2)                # union

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
s1.intersection(s2)   # intersection

{2, 4, 6, 8}

In [21]:
s1.difference(s2)         # difference

{1, 3, 5, 7}

# Task 5

In [22]:
tuple1 = (10,20,30,40,50)

In [25]:
set1 = set(tuple1)

In [26]:
set1

{10, 20, 30, 40, 50}

In [27]:
max(set1)

50

In [28]:
min(set1)

10

# Task 6

* we cannot add or remove elements in tuple datatype so it is said to be immutable

In [29]:
tuple1 = ("ramesh","suresh","rajesh","prakash")

In [30]:
tuple1.append("sai")

AttributeError: 'tuple' object has no attribute 'append'

In [31]:
tuple1.remove("rajesh")

AttributeError: 'tuple' object has no attribute 'remove'

# Task 7

In [37]:
set3 = {93,12,43,56,74,98}

In [38]:
set3.add(42)                # adding a new no.

In [39]:
set3

{12, 42, 43, 56, 74, 93, 98}

In [40]:
set3.remove(56)                  # removing a no. from the set

In [41]:
set3

{12, 42, 43, 74, 93, 98}

In [44]:
42 in set3               # checking the no. is in set or not

True

In [46]:
len(set3)                 #size of set

6

# Task 8

In [48]:
tuple3 = ("a","b","c","d","e","f","g","h","i","j")

In [49]:
tuple3[2:8]

('c', 'd', 'e', 'f', 'g', 'h')

# Task 9

In [1]:
list1 = [1,2,3,2,4,5,3,5,6,5,7]

In [3]:
s = set(list1)              # conversion of list into set

In [6]:
type(set(list1))

set

In [4]:
s

{1, 2, 3, 4, 5, 6, 7}

In [5]:
len(list1)-len(s)             # no. of duplicates removed

4

# Task 10

In [86]:
tuple5 = ("pokiri","magadheera","mirchi","khaleja","maharshi")

In [87]:
set7 = {"mirchi","rebel","khaleja"}

In [88]:
set7.intersection(tuple5)

{'khaleja', 'mirchi'}