1. **Basic List Comprehension:**
   Write a Python program that uses list comprehension to generate a list of cubes of the first 10 positive integers.

2. **Filtering with List Comprehension:**
   Given a list of integers, create a new list using list comprehension that contains only the multiple of 3 and 5 from the original list.

3. **String Manipulation with List Comprehension:**
   Given a list of strings, create a new list using list comprehension that contains the lengths of each string.


4. **List Comprehension with Conditionals:**
   Given a list of numbers, create a new list using list comprehension that contains the squares of even numbers 


5. **Pattern Printing**

    Write a Python program that takes an integer 'n' as input and prints the following pattern:

    For `n = 4`, the pattern should look like this:

    ```
    1
    1 2
    1 2 3
    1 2 3 4
    ```

6. **Multiplication Table**

      Create a Python program that generates and prints a multiplication table for a given number 'n'. The table should include values from 1 to 10.

For example, if `n = 5`, the output should be:

    ```
    5 x 1 = 5
    5 x 2 = 10
    5 x 3 = 15
    5 x 4 = 20
    5 x 5 = 25
    5 x 6 = 30
    5 x 7 = 35
    5 x 8 = 40
    5 x 9 = 45
    5 x 10 = 50
    ```

7. **Star Patterns**

    Write a Python program that takes an integer 'n' as input and prints the following patterns:

    a) Right-angled triangle pattern:
    ```
    *
    **
    ***
    ****
    *****
    ```

    b) Inverted right-angled triangle pattern:
    ```
    *****
    ****
    ***
    **
    *
    ```


8. **Number Pyramid**

    Create a Python program that takes an integer 'n' as input and prints a number pyramid as shown below:

    For `n = 4`, the output should be:

    ```
       1
      212
     32123
    4321234
    ```

# 1

In [2]:
[ i ** 3 for i in range(1,11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 2

In [13]:
[i for i in range(1,100) if (i%3==0) if (i%5==0)]

[15, 30, 45, 60, 75, 90]

# 3

In [20]:
s = ["hello","hai","how r u","bye"]
[len(i) for i in s]

[5, 3, 7, 3]

# 4

In [24]:
n = list(range(1,20))

In [25]:
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
[i**2 for i in n if i%2==0]        # squares of even no.s

[4, 16, 36, 64, 100, 144, 196, 256, 324]

# 5

In [4]:
n = int(input("enter a no. : "))
for i in range(1,n+1):
    print("\n")
    for j in range(1,i+1):
        print(j , end= ' ')

enter a no. : 5


1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

# 6

In [106]:
t = int(input("enter a val :  "))
for i in range(1,11):
    print(f'{t} x {i} = ',t * i)

enter a val :  7
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
7 x 10 =  70

# 7

# a

In [110]:
n = int(input("enter a no. : "))
for i in range(1,n+1):
    print("*" * i)

enter a no. : 5
*
**
***
****
*****

# b

In [126]:
n = int(input("enter a no. : "))
for i in range(n,0,-1):
    print("*" * i)

enter a no. : 5
*****
****
***
**
*

# 8

In [198]:
n = int(input("enter a no. : "))
for i in range(1,n+1):
    print(i)

enter a no. : 5
1
2
3
4
5